.customers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3rem;
}

.customers > * {
  flex-basis: 31%;
  margin: 0.5rem;
}

.customers-container {
  margin: 1rem 5rem 0rem 5rem;
}

.customers-container > h2 {
  margin-top: 0;
}

section.customer {
  margin: 3rem;
}

.customer {
  background-color: var(--white);
  border: 1px solid var(--outline);
  border-radius: 0.5rem;
  padding: 1rem;
}

.customer-info {
  color: var(--info);
  font-family: "Roboto", sans-serif;
}

.customer-header {
  font-size: larger;
  font-weight: 700;
  line-height: 3rem;
  color: var(--primary);
}
